<h1>Requested Appointments</h1>
<div class="blue-line"></div>
<table>
    <thead>
        <tr>
            <th>S.No</th>
            <th>ServiceName</th>
            <th>Price</th>
            <th>Vehicle</th>
            <th>Date</th>
            <th>Location</th>
            <th>Username</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <!-- <tr *ngIf="!appointments">
            <td>Oops! No Appointment found.</td>
        </tr> -->
        <tr *ngFor="let appointment of appointments,index as i">
            <td>{{i+1}}</td>
            <td>{{appointment.service.serviceName}}</td>
            <td>{{appointment.service.servicePrice}}</td>
            <td>{{appointment.service.typeOfVehicle}}</td>
            <td>{{appointment.appointmentDate}}</td>
            <td>{{appointment.location}}</td>
            <td>{{appointment.user.username}}</td>
            <td>
                <select name="selectedOption" [(ngModel)]="appointment.status">
                    <option value="Approved">Approved</option>
                    <option value="Rejected">Rejected</option>
                    <option value="Pending">Pending</option>
                </select>
            </td>
            <td>
                <button (click)="showPopup(appointment.appointmentId)" class="delete-btn">Delete</button>
            </td>
        </tr>
    </tbody>
   
</table>

<div *ngIf="showDeletePopup" class="delete-popup">
    <div class="popup-contenr">
        <p>Are you sure you want to delete this appointment?</p>
        <div class="popup-actions">
            <button (click)="deleteAppointment(appointmentId)" class="confirm-btn">Yes</button>
            <button (click)="showLogoutPopup = false" class="cancel-btn">No</button>
        </div>
    </div>
</div>
<div *ngIf="appointments.length==0" class="no-appointments">
    Oops! No Appointment found.</div>
