<div class="popup" *ngIf="showPopup">
  <div class="popup-content">
    <h2>Confirm Delete</h2>
    <p>Are you sure you want to delete this feedback?</p>
    <button class="btn-danger" (click)="confirmDelete()">Yes, Delete</button>
    <button class="btn-grey" (click)="cancelDelete()">Cancel</button>
  </div>
</div>


<h2>My Feedback</h2>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>S.No</th>
      <th>User Name</th>
      <th>Feedback</th>
      <th>Ratings</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="feedbacks.length === 0">
      <td colspan="5">No data found</td>
    </tr>
    <tr *ngFor="let feedback of feedbacks; index as i">
      <td>{{ i + 1 }}</td>
      <td>{{ feedback.user.username }}</td>
      <td>{{ feedback.message }}</td>
      <td>{{ feedback.rating }}</td>
      <td><button class="btn-danger" type="button" (click)="showDeletePopup(feedback.feedbackId)">Delete</button></td>
    </tr>
  </tbody>
</table>
