<h1>Available Services</h1>
<table id="servicesTable">
  <thead>
    <tr>
      <th>S. NO</th>
      <th>Service Name</th>
      <th>Price</th>
      <th>Type of Vehicle</th>
      <th>Appointment Date</th>
      <th>Location</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let service of services; let i = index">
      <td>{{i+1}}</td>
      <td>{{ service.serviceName }}</td>
      <td>{{ service.servicePrice }}</td>
      <td>{{ service.typeOfVehicle }}</td>
      <td><input type="date" [(ngModel)]="appointmentDates[i]" (input)="onInputChange(i)"></td>
      <td><input type="text" [(ngModel)]="locations[i]" placeholder="Enter location" (input)="onInputChange(i)"></td>
      <td><button class="add-appointment" (click)="addAppointment(service.serviceId,i)" [disabled]="!appointmentDates[i] || !locations[i]">Add Appointment</button></td>
    </tr>
  </tbody>
</table>
<div *ngIf="showPopup" class="popup">
  <p>{{ serviceId ? 'Service Updated Successfully' : 'Appointment Added Successfully' }}</p>
  <button (click)="closePopup()">Ok</button>
</div>
 
 