<div class="login-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h4>Login</h4><br><br>

    <label for="username">Username:</label>
    <input
      type="text"
      id="username"
      formControlName="username"
    />
    <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" class="error">
      Username is required.
    </div>

    <label for="password">Password:</label>
    <input
      type="password"
      id="password"
      formControlName="password"
    />
    <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error">
      <span *ngIf="loginForm.get('password')?.errors?.required">Password is required.</span>
      <span *ngIf="loginForm.get('password')?.errors?.pattern">
        Password must include:
        <ul>
          <li>At least one uppercase letter</li>
          <li>At least one lowercase letter</li>
          <li>At least one number</li>
          <li>At least one special character ( $, !, %, *, ?, &amp;, #)</li>
          <li>Minimum length of 8 characters</li>
        </ul>
      </span>
    </div>

    <button type="submit" [disabled]="loginForm.invalid">Login</button>
  </form>

  <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
</div>
