
<body>
    <header>
        <div class="navbar">
            <h1>Vehicle Service</h1>
            <div class="admin-section">
                <nav>
                    <ul>
                        <!-- <li>{{userName}}/{{userRole}}</li> -->
                        <li><a href="#">Home</a></li>
                        <li class="hover-card">
                            <a>Appointments</a>
                            <div class="card">
                                <button onclick="location.href='/useraddappointment'">Book Appointments</button>
                                <button onclick="location.href='/userviewappointment'">My Appointments</button>
                            </div>
                        </li>
                        <li class="hover-card">
                            <a>Feedback</a>
                            <div class="card">
                                <button onclick="location.href='/useraddfeedback'">Add Feedback</button>
                                <button onclick="location.href='/userviewfeedback'">My Feedbacks</button>
                            </div>
                        </li>
                        <li><a class="logout" (click)="logout()" type="button">Logout</a></li>
                    </ul>
                </nav>  
            </div>
        </div>
    </header>
    
</body>

<router-outlet></router-outlet>